<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
        <title>To Do or not To Do</title>
    </head>
    <body>
        <div class="header">
            <ul class="links">
                <li><a href="">Home Page</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Find Films</a></li>
              </ul> 
        </div>
        <div class="fileSubmit">
            <h1>{{ text }}</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <br>
                <input type="submit" value="Find That Film!"/>
            </form>
        </div>
        <audio controls>
            <source src= {{ text }} type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
    </body>
</html>
